<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for question in object.questions.all %}
    <div>
        <p>{{ question }}</p>
        <input type="hidden" name="question{{ forloop.counter }}" value="{{ question.id }}">
        <label>
            <input type="radio" name="answer{{ forloop.counter }}" value="yes"> Да
        </label>
        <label>
            <input type="radio" name="answer{{ forloop.counter }}" value="no"> Нет
        </label>
    </div>


{% endfor %}
<button type="submit">Завершить</button>
</body>
</html>